/*h3 {
	display: inline;	
}*/

/*.visit-team {
	height: 50px;
	width: 60px;
	background-color: gray;*/
	/*display: inline;*/
	/*float: left;*/
/*}
*/
/**/

/*.form {
	width: 150px;
	display: inline;

}*/

span {
	padding: 10px;
}

th {
	width: 50px;
}



